*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  /* debug用 */
  /* outline: 1px solid purple; */
}
html,
body{
  height: 100%;
  font-family: "Roboto","Arial",sans-serif;
}
a{
  text-decoration: none;
  color: black;
  /* 要用再各自開 display: block; */
}

/* 基本版面 */
#navbar01{
  /* 左方無線，改navbar02給線。border-bottom: 1px solid lightgray; */
  /* 背景其實有透明度 */
  background-color: rgba(255, 255, 255, 0.960);
  width: calc(100% - 15px);
  height: 55px;

  position: fixed;
  top: 0;
  left: 0;
  
  z-index: 3;
}
#navbar02{
  background-color:rgba(255, 255, 255, 0.960);
  border-top: 1px solid rgb(225, 225, 225);
  border-bottom: 1px solid rgb(225, 225, 225);
  /* 240+15推開=255 */
  width: calc(100% - 255px);
  height: 55px;

  position: fixed;
  left: 240px;
  top: 55px;

  text-align: center;
  font-size: 0;
  z-index: 2;
}
#sidebar{
  /* background-color: aqua; */
  width: 240px;
  height: calc(100% - 55px);

  position: fixed;
  left: 0;
  top: 55px;
  
  overflow-y: scroll;
  overflow-x: hidden;
}
/* sidebar捲軸 */
/* 寬度，高無法設定 */
.scroll::-webkit-scrollbar{
  width: 8px;
}
/* 把手顏色 */
.scroll::-webkit-scrollbar-thumb{
  background: rgb(255, 255, 255);
  border-radius: 20px 20px ;
}
/* 軌道背景顏色 */
.scroll::-webkit-scrollbar-track{
  background: rgb(255, 255, 255);;
}
/* 滑鼠滑過的 把手顏色*/
.scroll::-webkit-scrollbar-thumb:hover{
  background: rgb(148, 148, 148);
  border-radius: 20px 20px ;
}
#main{
  background-color: rgb(250, 250, 250);
  width: calc(100% - 243px);
  height: 100%;

  float: right;
  overflow-x: hidden;
  overflow-y: scroll;
  /* 補把手空隙 */
  margin-right: 3px;
}
/* main捲軸 */
/* 寬度 */
.scroll2::-webkit-scrollbar{
  width: 8px;
}
/* 把手顏色 */
.scroll2::-webkit-scrollbar-thumb{
  background: rgb(148, 148, 148);
  border-radius: 20px 20px;
}
/* 軌道背景顏色 */
.scroll2::-webkit-scrollbar-track{
  background: rgb(250, 250, 250);
}
/* 給內容置中用 */
.container{
  /* background-color: plum; */
  width: 90%;
  margin: auto;
}
/* 各部分設定 */
/* navbar01 */
/* 平行、置中 */
#navbar01 .menu-line,
#navbar01 .logo,
#navbar01 .search,
#navbar01 .account{
  line-height: 55px;
}
/* 左側*/
#navbar01 .navbar01-left{
  width: 240px;
  height: 55px;
  /* background-color: pink; */
}
#navbar01 .navbar01-left,
#navbar01 .menu-line,
#navbar01 .logo,
#navbar01 .mark{
  float: left;
}
#navbar01 .menu-line{
  font-size: 20px;
  padding: 0 10px;
}
/* 點擊效果，底色灰圓 */
#navbar01 .menu-line a{
  display: block;
  padding: 0 16px;
}
#navbar01 .menu-line a:active{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: lightgrey;
}
.logo img{
  /* a其實會佔位? */
  /* height: 55px; 圖比例會壞掉*/
  width: 95px;
  /* 浮動緊黏上方 */
  margin: 5px 0px 0px 0px;
}
#navbar01 .mark{
  font-size: 10px;
  margin: 10px 0 0 2px;
}
/* 右側 */
#navbar01 .account{
  /* background-color: #000; */
  height: 55px;
}
#navbar01 .account,
#navbar01 .sign_in,
#navbar01 .setting,
#navbar01 .application{
  /* background-color: palegreen; */
  float: right;
  margin: 0 15px;
}
#navbar01 .sign_in{
  font-size: 1rem;
  margin-right: 30px;
  padding: 0 10px;
  border: 1px solid blue;
  border-radius: 2px;
  cursor: pointer;
  /* 無法整塊往下置中，就算有設高度也黏在上緣，因為浮動。
    最後margin-top推開:7+40+7=54(1cm是navbar01的border-bottom) */
  height: 40px;
  line-height: 40px;
  /* 55-40-1(border-bottom)=14/2=7 */
  margin-top: 7px;
}
#navbar01 .sign_in i{
  color: blue;
}
/* 中間*/
.search{
  /* background-color: orange; */
  height: 55px;
  /* 真．置中 */
  width: 650px;
  margin: 0 auto;
  /* 不準確的置中 */
  /* display: inline-block; */
  /* position: relative; */
  /* left: 35%;
  transform: translate(-35%); */
  font-size: 0;
}
.search input,
.search-btn{
  margin-bottom: 11px;
  border: none;
  border: 1px solid lightgray;
  /* 細節優機會再加 */
  /* filter: drop-shadow(); */
  /* display: inline-block;=>input、a、button是行內元素*/
  vertical-align:middle;
}
.search input:focus,
.search button:focus{
  outline: none;
  appearance: none;
}
.search input{
  width: 520px;
  height: 40px;
  font-size: 1rem;
  border-radius: 2px 0 0 2px;
  border-right: none;
}
.search-btn{
  width: 65px;
  height: 40px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
  /* 無法用? */
  /* padding: 2px 15px; */
}
.micro{
  display: inline-block;
  font-size: 1rem;
  margin-left: 10px;
}
.microphone{
  font-size: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: rgb(249, 244, 244);
  cursor: pointer;
}
/* navbar02 */
#navbar02 ul li{
  display:inline-block;
}
#navbar02 ul a{
  line-height: 55px;
  border: 1px solid rgb(218, 218, 218);
  background-color: rgba(239, 238, 238, 0.84);

  border-radius: 20px;
  padding: 6px 10px;
  margin: 10px 8px;
  font-size: 0.9rem;
  /* 打開會無法完美置中，此處好點擊不影響 */
  /* display: block; */
}
#navbar02 ul a:hover{
  background-color: rgb(224, 221, 221);
  transition: 0.3s;
}
#navbar02 li:nth-child(1) a{
  background-color: black;
  color: white;
}
/* main */
#main table:nth-child(1){
  /* 避開導覽列高度55+55 +20 */
  margin-top: 130px;
}
table{
  width: 100%;
  /* border: 1px solid black; */
  border-collapse: collapse;
}
td{
  /* border: 1px solid black; */
  width: 25%;
  padding-bottom: 25px;
  padding-right: 15px;
}
.card{
  width: 100%;
  height: 320px;
}
.card:hover{
  overflow: hidden;
  /* 滑過放大效果 */
  transform: scale(1.1);
  transition: all 0.5s ease-out;
  background-color: white;
}
.card img{
  width: 100%;
  margin-bottom: 10px;
}
.card-body img{
  float:left;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  margin-right: 5px;
}
.card-body .title{
  display: inline-block;
  font-size: 16px;
  width: calc(100% - 45px);
  overflow: hidden;
  vertical-align: middle;
  line-height: 20px;
/* 文字溢出... */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.card-footer{
  margin-top: 5px;
  font-size: 14px;
  color: gray;
  margin-left: 45px;
  /* display: inline-block; */
}
.card-footer a{
  color: gray;
}
.card-footer p{
  margin: 4px 0;
}
hr{
  background-color: rgb(233, 229, 229);
  width: 100%;
  height: 5px;
  /* hr有外框 */
  border: none;
  margin: 15px 0px;
}
.hot-video{
  font-size: 18px;
}
/* sidebar */
.menu{
  /* background-color: pink; */
  border-bottom: 1px solid lightgray;
  font-size: 0.9rem;
  padding: 8px 0;
  font-weight: 400;
}
.menu li{
  width: 100%;
  height: 40px;
  /* 不能用此法推開，會點不到a */
  /* padding: 0 24px; */
  line-height: 40px;
}
.menu li:hover{
  background-color: rgb(228, 228, 228);
  width: calc(100%-3px);
}
.menu li a{
  display: block;
}
.menu li i{
  /* icon每個不一樣大，要給寬度統一 */
  width: 20px;
  margin: 0 1.5rem;
  font-size: 1.1rem;
  vertical-align: middle;
}
/* 預設 */
#sidebar .menu:nth-child(1) li:nth-child(1){
  background-color: rgb(228, 228, 228);
}
.menu .title{
  height: 35px;
  line-height: 35px;
  margin: 0 1.5rem;
}
.menu p{
  line-height: 1.1rem;
}
.menu .login{
  width: 90px;
  text-align: center;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 1px solid blue;
  border-radius: 2px;
}
.menu .login i{
  color: blue;
  font-size: 1rem;
}
.menu .content{
  /* 32px無法剛好兩行 */
  padding: 16px 29px;
}
.footer{
  padding: 16px 24px;
  /* cursor: pointer; */
}
.footer p{
  font-size: 12px;
  font-weight: 400;
  color: rgb(105, 105, 105);
  margin-bottom: 10px;
  
}
.footer a{
  font-size: 12px;
  font-weight: 500;
  color: rgb(105, 105, 105);
  margin-right: 8px;
}
